:root {
  --primary-color: #1ca3ec;
  --secondary-color: #2c3e50;
  --text-color: #333;
  --background-color: #f0f8ff;
  font-family: "Dosis", serif;
}

body {
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--background-color);
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-family: "Chewy", serif;
  color: var(--text-color);
  font-size: 1.5rem;
  left: 1rem;
  top: 50%;
  text-align: left;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}


.header-logo{
  display: flex;
  align-items: center; /* Centra verticalmente */
  gap: 10px;
  justify-content: center;
}

.logo{
  width: 50px; /* Tamaño del logo */
  height: auto; 
}


.navbar .menu li {
  display: inline-block;
  margin: 0 1rem;
}

nav ul li a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

nav ul li a.active {
  text-decoration: underline;
}


.toggle-menu {
  display: none;
  background-color: transparent;
  border: none;
  color: var(--secondary-color);
  font-size: 1.5rem;
  cursor: pointer;
}
.navbar .menu {
  list-style: none;
  display: flex;
  gap: 15px;
}

@media (max-width: 768px) {
  .navbar .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    transition: max-height 0.3s ease;
    padding-bottom: 15px;
    overflow: hidden;
    display: none;
  }

  nav ul {
    display: flex;
    padding: 0;
    list-style: none;
  }

  nav ul li {
    margin: 0 1rem;
  }
  nav ul li a {
    color: var(--background-color);
  }
  .navbar .menu li {
    text-align: center;
    display: flex;
    padding: 10px 0;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    background-color: var(--background-color);
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .name {
    transform: none;
  }
  header {
    padding: 0;
  }

  .toggle-menu {
    display: block;
  }

  .navbar .menu.show {
    display: block;
    display: flex;
  }
}

main {
  margin-top: 85px;
}

.background-div {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("assets/images/home-back.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 50px 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--background-color);
}

.background-div-about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("assets/images/about-us.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 50px 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--background-color);
  }




.cta-button {
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer; 
  transition: background-color 0.3s ease; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
}

.background-div p {
  font-size: 1.3rem;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 70vh; 
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
}

.carousel-card {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box; 
}

/* Estructura interna de la tarjeta */
.card-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  max-width: 1200px; /* Limita el ancho máximo de la tarjeta */
  margin: 0 auto; /* Centra el contenido dentro de la tarjeta */
  padding: 3rem;
  gap: 5rem;
}

/* Estilo de la imagen */
.card-image img {
  object-fit: cover;
  border-radius: 8px;
}

/* Estilo del contenido de texto */
.card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Centra el contenido horizontalmente */
  text-align: center;
  margin-left: 20px;
  text-align: left;
  max-width: 50%; /* Limita el ancho del contenido de texto */
  gap: 1.5rem;
}

.card-text h2 {
  margin: 0;
  font-size: 1.5rem;
  color: #333;
}

.card-text p {
  font-size: 1.2rem;
  color: #666;
  margin: 10px 0;
}

.card-text button {
  padding-top: 5px;
  font-size: 1rem;

  padding-bottom: 5px;
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card-text button:hover {
  background-color: var(--primary-color);
}

/* Flechas del carrusel */
.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: var(--primary-color);
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 100;
  font-size: 3rem;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

/* Estilos para el contenedor del título */
.section-title-container {
  text-align: center;
  padding: 40px 20px;
  margin-top: 20px;
}

/* Estilo para el título */
.section-title {
  font-size: 2rem; /* Tamaño del título */
  font-weight: bold;
  color: var(--text-color); /* Color del texto */
  margin-bottom: 10px; /* Espacio debajo del título */
}

/* Estilo para el subtítulo */
.section-subtitle {
  font-size: 1.2rem; /* Tamaño del subtítulo */
  color: var(--text-color); /* Color del subtítulo */
}

/* Estilo para el cuadro azul */
.color-box {
  background-color: var(--secondary-color); /* Fondo azul */
  color: white; /* Color del texto dentro del cuadro */
  padding: 40px 20px; /* Espacio alrededor del contenido */
  margin-top: 40px; /* Espacio entre el div anterior y este */
  display: flex; /* Utilizar flexbox */
  flex-direction: column; /* Coloca los elementos en columna */
  align-items: center; /* Centra los elementos horizontalmente */
  justify-content: center; /* Centra los elementos verticalmente */
}

.color-box-title {
  font-size: 2rem; /* Tamaño del título */
  font-weight: bold;
  margin-bottom: 10px; /* Espacio debajo del título */
  text-align: left;
}

.color-box-subtitle {
  font-size: 1.2rem; /* Tamaño del subtítulo */
  margin-bottom: 20px; /* Espacio debajo del subtítulo */
  text-align: left; /* Alinear texto a la izquierda */
  max-width: 800px; /* Limitar el ancho máximo del texto */
}

.color-box-video {
  width: 100%; /* Asegura que el video ocupe todo el ancho del div */
  height: auto; /* Mantiene las proporciones del video */
  border-radius: 10px; /* Esquinas redondeadas */
  max-width: 600px; /* Tamaño máximo del video más pequeño */
  margin-top: 20px; /* Espacio por encima del video */
}

.image-text-box {
  display: flex; /* Para que los elementos estén en línea (horizontal) */
  align-items: center; /* Centra verticalmente los elementos dentro del contenedor */
  justify-content: flex-start; /* Alinea todos los elementos al inicio (izquierda) */
  gap: 20px; /* Espacio entre la imagen y el texto */
  padding: 20px 7rem; /* Espacio alrededor del contenedor */
}

.image-box-img {
  width: 300px; /* Tamaño de la imagen */
  height: auto; /* Mantener las proporciones de la imagen */
  border-radius: 8px; /* Bordes redondeados (opcional) */
}

.text-box {
  display: flex; /* Para alinear el título y subtítulo en columna */
  flex-direction: column;
  align-items: flex-start; /* Alinea el texto a la izquierda */
}

.image-box-title {
  font-size: 1.5rem; /* Tamaño del título */
  font-weight: bold;
  margin: 0 0 10px 0; /* Espacio debajo del título */
}

.image-box-subtitle {
  font-size: 1rem; /* Tamaño del subtítulo */
  margin: 0; /* Elimina márgenes innecesarios */
}

.image-text-box-right {
  display: flex; /* Para que los elementos estén en línea (horizontal) */
  align-items: center; /* Centra verticalmente los elementos dentro del contenedor */
  justify-content: space-between; /* Alinea todos los elementos al inicio (izquierda) */
  gap: 20px; /* Espacio entre la imagen y el texto */
  padding: 20px 7rem; /* Espacio alrededor del contenedor */
}

/* Estilos generales del footer */
.footer {
  background-color:var(--secondary-color); /* Fondo oscuro */
  color: var(--background-color); /* Color del texto */
  padding: 10px 40px; /* Espacio alrededor */
  display: flex;
  flex-direction: column; /* Organiza en columna */
  align-items: center;
}

.footer-content {
  display: flex; /* Para disposición en filas */
  justify-content: space-between; /* Espacio entre la izquierda y derecha */
  width: 100%; /* Ocupa todo el ancho disponible */
  max-width: 1200px; /* Límite de ancho para no hacer el footer demasiado largo */
}

.logo-section {
  display: flex;
  align-items: center; /* Centra verticalmente */
  gap: 10px; /* Espacio entre el logo y el título */
}

.footer-logo {
  width: 50px; /* Tamaño del logo */
  height: auto; /* Mantiene las proporciones del logo */
}

.footer-title {
  font-size: 1.5rem; /* Tamaño del nombre del proyecto */
  font-weight: bold;
  margin: 0; /* Elimina el margen por defecto */
}

.contact-info {
  text-align: right; /* Alinea el texto a la derecha */
  font-size: 1rem; /* Tamaño de la fuente */
}

.contact-info h3 {
  font-size: 1.2rem; /* Tamaño del título */
  margin-bottom: 10px; /* Espacio debajo del título */
}

.contact-info p {
  margin: 5px 0; /* Espacio entre los párrafos */
}

.image-credit {
  text-align: left; /* Centra la nota de las imágenes */
  font-size: 0.9rem; /* Tamaño de fuente pequeño */
  margin-top: 20px; /* Espacio encima */
  align-items: flex-start;
  display: flex;
  gap: 5px;
}


.team-container{
    text-align: center;
    padding: 40px 20px;
    margin-top: 20px;

}
.team-members {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.member {
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    max-width: 300px;
}

.member:hover {
    transform: translateY(-5px);
}

.member img {
    border-radius: 50%;
    margin-bottom: 1rem;
    width: 150px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
}

.team-story {
    text-align: center;
    font-style: italic;
    margin-top: 2rem;
}





/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column; /* En pantallas pequeñas, organiza en columna */
    align-items: center; /* Centra los elementos */
    gap: 5px; /* Menos espacio entre los bloques */
  }

  .contact-info {
    text-align: center; /* Centra la información de contacto en móviles */
  }

  .footer-logo {
    width: 40px; /* Ajusta el tamaño del logo en pantallas pequeñas */
  }

  .footer-title {
    font-size: 1.2rem; /* Reduce el tamaño del nombre en móviles */
  }

  .contact-info p {
    font-size: 0.9rem; /* Ajusta el tamaño de la fuente en móviles */
  }

  .image-credit {
    font-size: 0.8rem; /* Ajusta el tamaño de la nota de las imágenes */
    margin-top: 0px;
  }
}

/* Ajustes responsivos */
@media (max-width: 768px) {
  /* En pantallas pequeñas, la imagen va arriba */

  .carousel-container {
    height: 100vh;
  }

  .card-content {
    flex-direction: column;
    align-items: center;
  }

  .card-text {
    margin-left: 0;
    text-align: center;
    max-width: 100%;
  }

  .card-image img {
    width: 100%; /* La imagen ocupa todo el ancho */
    height: auto;
    margin-bottom: 10px;
  }

  .card-text h2 {
    font-size: 1.2rem;
  }

  .card-text p {
    font-size: 0.9rem;
  }

  .image-text-box,
  .image-text-box-right {
    flex-direction: column; /* Coloca los elementos en columna en lugar de fila */
    padding: 20px 1rem;
  }
}

@media (min-width: 769px) {
  /* Para pantallas grandes, las tarjetas tienen imagen a la izquierda y texto a la derecha */
  .card-content {
    flex-direction: row; /* Asegura que la imagen esté a la izquierda y el texto a la derecha */
    align-items: center; /* Centra verticalmente el contenido */
  }

  .card-text {
    text-align: left;
    margin-left: 20px; /* Espacio entre la imagen y el texto */
    max-width: 50%; /* Limita el ancho del texto para que no ocupe toda la tarjeta */
  }

  .card-image img {
    width: 350px; /* Puedes ajustar el tamaño de la imagen */
    height: 350px;
    margin-right: 20px;
  }

  .carousel-arrow {
    top: 50%; /* Las flechas siempre se posicionan en el centro */
    transform: translateY(-50%);
    padding: 20px;
  }
  .card-text button {
    font-size: 1.2rem;
    padding: 10px 50px;
  }
}
